.msg-input {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  padding: 0px .5rem;
}

.msg-input * {
  margin: 0px 0px;
  padding: 0px 0px;
  box-sizing: border-box;
}

.msg-input > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msg-text {
  padding: .5rem .8rem;
  background-color: white;
  display:  flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  width: 85%;
}

.msg-text-input {
  width: 80%;
  border: none;
  margin: 0px 10px;
}

.msg-text-input:hover {
  outline: none;
  font-size: 1rem;
}

.msg-audio {
  background-color: #00B489;
  padding: .5rem .6rem;
  border-radius: 50%;
  color: white;
}

.msg-icon {
  font-size: 1.3rem;
}

.msg-icon.smile {
  color: #424242;
}

.msg-icon.camera {
  color: #424242;
}
